<!DOCTYPE html>
<html>

    <head>
        <title>Edit Goal</title>
        <%- include('../partials/imports')%>
    </head>

    <body>
        <%- include('../partials/nav') %>
            
        <% if(errors) {%>
            <% errors.forEach(function(err){%>
                <p style="color: red">***
                    <%= err.msg %>
                </p>
            <%})%>
        <% }%>
        
        <div class="container">
            <h1><%= goal.title %> <% if (goal.private){%> (private) <%}%> </h1>
            <h5><%= goal.info %></h5>
            <br>
            <h3>Who do you want to share this goal with?</h3>
            <form action="/api/goal/share/<%=goal._id%>" method="POST">                
                <% user.friends.forEach(function(friend){ %>
                    <li class="list-group-item">
                        <h5 style="display: inline;"><%= friend.firstname + " " + friend.lastname%></h5>
                        <% if (!friend.sentRequest) {%>
                            <form action="/api/user/send-share-request" method="POST">
                                <input type="text" value="<%=friend._id%>" name="friendId" style="visibility: hidden; display: inline;">
                                <button href="" class="btn btn-primary" style="float: right;">Send share request</button>
                            </form>
                        <%} else {%>
                            <form action="/api/user/undo-share-request" method="POST">
                                <input type="text" value="<%=friend._id%>" name="friendId" style="visibility: hidden; display: inline;">
                                <button href="" class="btn btn-danger" style="float: right;">Undo share request</button>
                            </form>
                        <%}%>
                    </li>
                    <br>
                <% }) %>

                <br>
                <br>
                <button type="submit">Save Goal</button>
            </form>
        </div>
        

    </body>

</html>

<script>
    $(document).ready(function(){

    });
</script>