<!DOCTYPE html>
<html>

    <head>
        <title>Edit Goal</title>
        <%- include('../partials/imports')%>
    </head>

    <body>
        <%- include('../partials/nav') %>
            
        <% if(errors) {%>
            <% errors.forEach(function(err){%>
                <p style="color: red">***
                    <%= err.msg %>
                </p>
            <%});%>
        <% }%>
        
        <div class="container">
            <h1><%= goal.title %> <% if (goal.private){%> (private) <%}%> </h1>
            <h5><%= goal.info %></h5>
            <br>
            <h3>Who do you want to share this goal with?</h3>              
            <% user.friends.forEach(function(friend){ %>
                <% for (var i = 0; i < goal.users.length; i++){%>
                    <%if (goal.users[i].toString() == friend._id) return;%>
                <%}%>
                <% var requestSent = false; %>
                <% friend.requests.forEach(function(request){ %>
                    <% if (request.goal.toString() == goal._id){ %>
                        <% requestSent = true; %>
                    <% } %>
                <% }); %>
                <li class="list-group-item">
                    <h5 style="display: inline;"><%= friend.firstname + " " + friend.lastname%></h5>
                    <% if (!requestSent) {%>
                        <form action="/api/goal/send-share-request/<%= goal._id %>" method="POST">
                            <input type="text" value="<%=friend._id%>" name="friendId" style="visibility: hidden; display: inline;">                                                             
                            <button href="" class="btn btn-primary" style="float: right;">Send share request</button>
                        </form>
                    <%} else {%>
                        <form action="/api/goal/undo-share-request/<%= goal._id %>" method="POST">
                            <input type="text" value="<%=friend._id%>" name="friendId" style="visibility: hidden; display: inline;">                               
                            <button href="" class="btn btn-danger" style="float: right;">Undo share request</button>
                        </form>
                    <%}%>
                </li>
                <br>
            <% }) %>
        </div>
        

    </body>

</html>

<script>
    $(document).ready(function(){

    });
</script>